html {
    scroll-behavior: smooth;
}

:root {
    --white: #f8f8f8;
    --black: #0d0d0f;
    --dark: #16161a;
    --light-gray: #BDBDBD;
    --gray: #eee;
    --brand-yellow: #F7E603;
    --brand-blue: #013559;
    --brand-blue-dark: #012740;
    --brand-blue-darker: #011b2e;
}

.dark-theme {
    --primary: var(--brand-yellow);
    --mainBg: var(--black);
    --secondaryBg: var(--brand-blue-darker);
    --iconButton: var(--brand-yellow);
    --header: var(--brand-blue);
    --dialogBg: var(--dark);
    --focus: var(--brand-blue-dark);
    --disabled: #555;
    --fontColor: var(--white);
}

* {
    transition: background-color 0.3s ease, color 0.5s ease;
}

body {
    background-color: var(--mainBg);
}

.mdl-list__item-primary-content {
    color: var(--fontColor);
}

.mdl-card {
    background-color: var(--dialogBg);
    box-shadow: initial;
}

#loadingLogsScreen {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-animation: fadein 0.6s;
    animation: fadein 0.6s;
}

#loadingLogsCaption {
    font-size: 22px;
    text-align: center;
}

#gameScriptLoader {
    background: var(--header);
    color: var(--white);
    min-height: 20px;
    padding: 12px;
    vertical-align: middle;
    display: flex;
    align-items: center;
}

#gameScriptLoader>i,
span,
select {
    padding-right: 10px
}

.logItem {
    transition-duration: .28s;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-property: background-color;
    -webkit-animation: fadein 0.6s;
    animation: fadein 0.6s;
    transition: all 0.3s ease;
}

.logItem:hover,
.matchingScriptMenuCard>.mdl-list>.mdl-list__item:hover,
.logMenuCard>.mdl-list>.mdl-list__item:hover {
    background-color: var(--secondaryBg);
}

.mdl-button--colored {
    color: var(--iconButton) !important;
}

.matchingScriptMenuCard>.mdl-list>.mdl-list__item:hover,
.logMenuCard>.mdl-list>.mdl-list__item:hover {
    background-color: var(--focus);
}

.mdl-list__item-primary-content>.logMenuButton {
    visibility: hidden;
    opacity: 0;
}

.logItem:hover .logMenuButton {
    visibility: visible;
    opacity: 1;
    transition: all 0.2s ease-in 0.3s;
}

.matchingScriptMenuCard>.mdl-list>.mdl-list__item {
    cursor: pointer;
    font-size: 16px;
    transition-duration: .28s;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-property: background-color;
    -webkit-animation: fadein 0.6s;
    animation: fadein 0.6s;
}

.logMenuCard>.mdl-list {
    padding: 0
}

.logMenuCard>.mdl-list>.mdl-list__item {
    cursor: pointer;
    font-size: 16px;
    transition-duration: .28s;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-property: background-color;
    -webkit-animation: fadein 0.6s;
    animation: fadein 0.6s;
}

.matchingScriptMenuCard {
    width: 100%;
}

.game-script-arrow-down-icon {
    color: var(--fontColor);
}

.logMenuCard {
    width: 180px;
    min-height: 0px;
}

.disabled_list__item {
    pointer-events: none;
}

.disabled_list__item>.mdl-list__item-primary-content {
    color: var(--disabled);
}

.note-add-icon:hover {
    color: var(--brand-yellow);
}

.playAudioButton {
    margin-right: 0.2em;
}

.logSecondaryActionGroup {
    min-width: 70px;
}

.addCardScreenshot {
    width: 100%;
    display: block;
}

.addCardFormField {
    font-size: 22px;
}

.tippy-box[data-theme~='material-light'] {
    color: black;
    background-color: var(--dialogBg);
    box-shadow:
        /* offset-x | offset-y | blur-radius | spread-radius | color */
        0px 6px 10px 0px hsla(0, 0%, 0%, 0.14),
        0px 1px 18px 0px hsla(0, 0%, 0%, 0.12),
        0px 3px 5px -1px hsla(0, 0%, 0%, 0.2);
}

.tippy-box[data-theme~='material-light-long'] {
    color: black;
    background-color: var(--dialogBg);
    box-shadow:
        /* offset-x | offset-y | blur-radius | spread-radius | color */
        0px 6px 10px 0px hsla(0, 0%, 0%, 0.14),
        0px 1px 18px 0px hsla(0, 0%, 0%, 0.12),
        0px 3px 5px -1px hsla(0, 0%, 0%, 0.2);
    min-width: 85vw;
}

.demo-card-square.mdl-card {
    height: 400px;
}

.addCardBody {
    padding: 0px;
}

.addCardBodyList {
    max-height: 220px;
    overflow-y: auto;
}

.addCardBodyContainer>.mdl-card__actions {
    display: flex;
    box-sizing: border-box;
    align-items: center;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}