html {
    scroll-behavior: smooth;
}

#loadingLogsScreen {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-animation: fadein 0.6s;
    animation: fadein 0.6s;
}

#loadingLogsCaption {
    font-size: 22px;
    text-align: center;
}

#gameScriptLoader {
    min-height: 20px;
    padding: 12px;
    vertical-align: middle;
    display: flex;
    align-items: center;
}

#gameScriptLoader>i,
span,
select {
    padding-right: 10px
}

.logItem {
    transition-duration: .28s;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-property: background-color;
    -webkit-animation: fadein 0.6s;
    animation: fadein 0.6s;
    transition: all 0.3s ease;
}

.logItem:hover,
.matchingScriptMenuCard>.list>.list-item:hover,
.logMenuCard>.list>.list-item:hover {
    background-color: var(--surface-2);
}

.matchingScriptMenuCard>.list>.list-item:hover,
.logMenuCard>.list>.list-item:hover {
    background-color: var(--hover);
}

.list-item-content>.logMenuButton {
    visibility: hidden;
    opacity: 0;
}

.logItem:hover .logMenuButton {
    visibility: visible;
    opacity: 1;
    transition: all 0.2s ease-in 0.3s;
}

.matchingScriptMenuCard>.list>.list-item {
    cursor: pointer;
    font-size: 16px;
    transition-duration: .28s;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-property: background-color;
    -webkit-animation: fadein 0.6s;
    animation: fadein 0.6s;
}

.logMenuCard>.list {
    padding: 0
}

.logMenuCard>.list>.list-item {
    cursor: pointer;
    font-size: 16px;
    transition-duration: .28s;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-property: background-color;
    -webkit-animation: fadein 0.6s;
    animation: fadein 0.6s;
}

.matchingScriptMenuCard {
    width: 100%;
}

.game-script-arrow-down-icon {
    color: var(--font);
}

.logMenuCard {
    width: 180px;
    min-height: 0px;
}

.disabled_list__item {
    pointer-events: none;
}

.disabled_list__item>.list-item-content {
    color: var(--font-muted);
    opacity: 0.5;
}

.note-add-icon:hover {
    color: var(--yellow);
}

.playAudioButton {
    margin-right: 0.2em;
}

.logSecondaryActionGroup {
    min-width: 70px;
    display: flex;
    align-items: center;
}

.addCardScreenshot {
    width: 100%;
    display: block;
}

.addCardFormField {
    font-size: 22px;
}

.demo-card-square {
    height: 400px;
}

.addCardBody {
    padding: 0px;
}

.addCardBodyList {
    max-height: 220px;
    overflow-y: auto;
}

.addCardBodyContainer > .dialog-actions {
    display: flex;
    box-sizing: border-box;
    align-items: center;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
